fastapi
uvicorn
langchain
langchain-groq
langchain-huggingface
langchain-chroma
pypdf
easyocr
pytesseract
pypdfium2
rapidocr-onnxruntime
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
chromadb
pydantic-settings
requests
aiohttp
python-dotenv
sentence-transformers
rank_bm25
